
<h1>Bievenue !</h1>

<p>
    Vous vous êtes inscrit en tant que : {{ username }} avec l'email suivant :
</p>
<p><code>{{ mail }}</code></p>

<p>
    <a href="localhost:8888{{ path('validation',{'token':  token } ) }}">Cliquez ici pour activer votre compte</a>

</p>
